:root {
    --textBlack: #252525;
}

* {
    color: var(--textBlack);
    font-family: Roboto;
}

body {
    display: grid;
    grid-auto-rows: max-content;
}

/* Navbar */

nav {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas:
        'logo links user';
    align-items: center;
    gap: 1.25rem;
    border: 1px solid black;
}

.logo {
    width: 10rem;
    object-fit: cover;
}

.nav__tabs {
    display: flex;
    gap: 1.75rem;
}

a {
    text-decoration: none;
}

.nav__user {
    display: flex;

}

/* Cover Banner */

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover__heading {
    display: flex;
    justify-content: center;
}

.cover__heading h1 {
    font-size: 25rem;
    font-weight: bolder;
    line-height: 0;
}

.cover__heading p {
    position: absolute;
    margin: 0 auto;
    margin-top: 5rem;
    font-size: 1.25rem;
    font-weight: lighter;
    white-space: nowrap;
}

.cover__chicken {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    margin-top: 15rem;
    filter: saturate(1.125);
    transition: all 0.25s ease;
}

.cover__chicken:hover {
    animation: shake 0.5s ease;
}

/* Utilities */

.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg) scale(1.125);
    }

    45% {
        transform: rotate(4deg);
    }

    60% {
        transform: rotate(-4deg);
    }

    75% {
        transform: rotate(2deg);
    }

    85% {
        transform: rotate(-2deg);
    }

    92% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0);
    }
}