@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Poiret+One&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,900;1,400&display=swap');

:root {
    --text-black: #111122;
    --text-slate: #1d1d34;
    --text-grey: #808080;
    --purchase-button: #eaeaea;
    --card-divider: #d5d5d5;
    --drop-shadow: 0px 5px 2.5px rgb(0, 0, 0, 0.5);
    --cover: #ffd61e;
}

* {
    color: var(--text-slate);
    font-family: 'Poppins';
}

body {
    display: grid;
    grid-auto-rows: max-content;
    align-items: center;
    width: 100vw;
}

/* Navbar */

nav {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas:
        'logo links user';
    align-items: center;
    gap: 1.25rem;
    padding: 0 2.25rem;
    font-family: 'Roboto';
}

nav>* {
    color: var(--text-black);
}

.logo {
    font-family: 'Bungee Shade';
}

.nav__tabs {
    display: flex;
    gap: 1.75rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.nav__user {
    display: flex;
}

.nav__user h1 {
    font-size: 1rem;
}

/* Cover Banner */

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--cover) url(./media/pattern-bg.png);
}

.cover__heading {
    display: flex;
    justify-content: center;
}

.cover__heading>* {
    color: var(--text-black);
}

.cover__heading h1 {
    font-size: 25rem;
    font-weight: 900;
    line-height: 0;
    letter-spacing: -1rem;
}

.cover__heading p {
    position: absolute;
    margin: 0 auto;
    margin-top: 3.25rem;
    font-size: 1.75rem;
    font-weight: 200;
    white-space: nowrap;
}

.cover__chicken {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    margin-top: 13.5rem;
    filter: saturate(1.125) drop-shadow(var(--drop-shadow));
}

.cover__pricetag {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    margin-top: 21rem;
    margin-left: 30rem;
    padding: 1.25rem;
    line-height: 0;
    background-color: white;
    border-radius: 100%;
    transition: all 0.25s ease;
    transform: rotate(20deg);
}

.cover__pricetag p {
    font-weight: 400;
    margin: 0;
}

.cover__pricetag:hover {
    transform: scale(1.025);
}

.cover__chicken:hover {
    animation: shake 0.5s ease;
}

/* Covered Product Card */

.cards-container--cover {
    display: grid;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    justify-content: center;
    width: 40rem;
    padding: 1.5rem 2.5rem;
    text-align: center;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 1px 5px rgb(0, 0, 0, 0.25);
    transition: all 0.25s ease;
}

.card__divider {
    width: 100%;
    height: 1px;
    margin: 1.25rem 0;
    border: none;
    background-color: var(--card-divider);
}

.card__header {
    line-height: 0;
    color: var(--text-slate);
}

.card__price {
    margin-left: 0.5rem;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--text-grey);
}

.card__description {
    font-weight: 300;
    color: var(--text-grey);
    text-align: justify;
}

.card--cover {
    margin-top: 15rem;
}

.card__actions {
    display: flex;
    justify-content: flex-end;
}

.card__purchase {
    padding: 1rem;
    color: var(--text-slate);
    background-color: var(--purchase-button);
    border-radius: 2.5rem;
    border: none;
    transition: all 0.125s ease;
}

.card__purchase:hover {
    background-color: #cecece;
    transform: scale(1.025);
}

.card__purchase:active {
    filter: invert(1);
}

.card:hover {
    transform: scale(1.025);
    box-shadow: 0 5px 7.5px rgb(0, 0, 0, 0.25);
}

/* Featured */

.featured {
    display: grid;
    grid-auto-rows: max-content;
    justify-content: center;
    padding: 2.25rem;
    margin: 12.5rem 0;
    background: url(./media/pattern-bg-zigzag.png);
}

.cards-container--featured {
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
}

.card--featured {
    width: unset;
    grid-template-rows: max-content max-content 1fr;
}

.card__image {
    width: 20rem;
    object-fit: cover;
    filter: saturate(1.25);
}

/* Delivery */

.delivery {
    display: grid;
    grid-auto-rows: max-content;
    justify-content: center;
    padding: 2.25rem;
}

.cards-container--delivery {
    grid-template-columns: repeat(4, 1fr);
}

.delivery__icon {
    width: 8.25rem;
    border-radius: 1.25rem;
}


/* Utilities */

.cards-container {
    display: grid;
    grid-auto-rows: max-content;
    gap: 1.25rem;
}

.section__heading {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    color: var(--text-slate);
    text-align: center;
    line-height: 0;
}

.section__description {
    margin-bottom: 3.5rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 300;
}

.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Keyframes */

@keyframes shake {
    15% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg) scale(1.05);
    }

    45% {
        transform: rotate(4deg);
    }

    60% {
        transform: rotate(-4deg);
    }

    75% {
        transform: rotate(2deg);
    }

    85% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(1deg);
    }
}